*** Retrieving tweets with twitter API by using IDs from a manually annotated corpus***

In [2]:
import twython as tw
import pandas as pd
import pyprind
import os

#twitter api credentials
CONSUMER_KEY = "qGWa0auDtpVJXx1LaZQspsVWe"
CONSUMER_SECRET = "scSr5x4R1u7w7KAoQ47J8xG1J0nUozhpowzzjNPO2DYuD89plg"
OAUTH_TOKEN = "846031238813171713-5ywVPWAEPNDBlVnO6ReosjvAcTn5K3v"
OAUTH_TOKEN_SECRET = "1itTLCn9ytm6L0UNeHWObgaofsk4qE62cHyHvxSa1nBRH"
twitter = tw.Twython(
    CONSUMER_KEY, CONSUMER_SECRET,
    OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

df = pd.DataFrame()
labels = {'SARCASM' : 1, 'NOT_SARCASM': 0}

no_of_errors = 0
total_tweets = 0

pbar = pyprind.ProgBar(3000)
with open('./original/sarcasm-annos-emnlp13.tsv', 'r') as infile:
    for line in infile:
        line = line.rstrip().split('\t')
        total_tweets += 1
        try:
            df = df.append([[twitter.show_status(id=int(line[0]))['text'].replace(";",":"), labels[line[1]]]], ignore_index=True)
        except:
            no_of_errors += 1
        pbar.update()
        
df.columns = ['tweet', 'sentiment']
df.to_csv('./filtered/test_set.csv', index=False, sep=";", encoding='utf-8')
print str.format("Broj neuspješno obrađenih tweetova : {} / {} = {} %", no_of_errors, total_tweets, (no_of_errors/float(total_tweets)) * 100)

0%                          100%
[##############################] | ETA: 00:00:00

Broj neuspješno obrađenih tweetova : 2403 / 3000 = 80.1 %

Total time elapsed: 00:07:27

In [2]:
df = pd.read_csv('./filtered/test_set.csv', sep=";", encoding='utf-8')
df.head(10)

                                               tweet  sentiment
0  Very low entries in this giveaway! Hop over an...          0
1       This totally topped off my week :') #sarcasm          0
2  Summers over and it was shit. Only sunny day w...          0
3  Did you know that one of Bolshoi Ballet member...          0
4            I just love missing the bus! ☺ #sarcasm          1
5  If you're going into highschool and cant do at...          1
6  @babee_kayyy lol itold you iwasnt coming . :) ...          0
7  This 8:20 Friday class is gonna be grrreat!! #...          1
8  Gee wiz what a great day so far. You can cut t...          1
9                           This lab class boring af          0